@tailwind base;
@tailwind components;

@tailwind utilities;

html {
  font-size: 16px;
  @apply bg-white text-black antialiased;
  height: -webkit-fill-available;
}

body {
  margin: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

div#__next {
  background-color: #f6f2ff;
}

html,
body,
body > div:first-child,
div#__next {
  height: 100%;
}
