@tailwind base;
@tailwind components;

@tailwind utilities;

html {
  font-size: 16px;
  @apply bg-white text-black antialiased;
  height: -webkit-fill-available;
}

body {
  margin: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

div#__next {
  background-color: #f6f2ff;
}

html,
body,
body > div:first-child,
div#__next {
  height: 100%;
}

.scrollable {
  height: auto !important;
  min-height: 100%;
}

.logo {
  transform: translateX(22%);
}

.grayscale {
  filter: grayscale(100%);
}

@font-face {
  font-family: "Acto";
  src: url("/fonts/Acto/Acto-Regular.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Acto";
  src: url("/fonts/Acto/Acto-Medium.otf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Acto";
  src: url("/fonts/Acto/Acto-Bold.otf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Acto";
  src: url("/fonts/Acto/Acto-ExtraBold.otf");
  font-style: bold;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Acto";
  src: url("/fonts/Acto/Acto-Light.otf");
  font-style: light;
  font-weight: 300;
  font-display: swap;
}